// vars
$purple : #9B59B6;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: 300;
}
h1, h2, h3, h4 {
  font-weight: 400;
}

h1 {
  font-size: 24px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $purple;
}

.container {
  max-width: 600px;
  width: 92%;
}

.underline {
  text-decoration: underline;
}


//header
.main-header {
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 100;
  .main-logo {
    display: block;
    max-height: 80px;
    max-width: 90%;
    margin: 10px auto;
  }
}

// masthead
.masthead {
  padding: 125px 0 65px;
  text-align: center;
  background: no-repeat top center;
  background-size: cover;

  .counter-wrapper {
    .counter-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: -20px;
    }
  }

  .counter-footer {
    position: relative;
    top: -10px;
  }

  h3 {
    font-weight: lighter;
    font-size: 30px;
    margin-bottom: -5px;
    display: inline-block;
    border-bottom: 1px solid gray;
  }

  h4 {
    font-size: 16px;
    line-height: 20px;
    color: black;
    margin-bottom: -10px;
    font-weight: 300;
  }

  .clock-list {
    padding: 0;
    margin: 20px 0 50px;
    li {
      list-style: none;
    }
  }
  .ghost-btn {
    padding: 15px 35px;
    display: inline-block;
    margin: 20px auto 10px auto;
    color: #73378C;
    border: 1px solid #9B59B6;
    background-color: rgba(155, 89, 182, 0.09);
    border-radius: 4px;
    font-weight: 300;
    font-size: 18px;

    i {
      margin-left: 10px;
    }
  }
}

//flipper
.flip-clock-wrapper {
  margin: 20px 0;
}
.flip.play {
    margin-right: -2px;
}

.flip-clock-divider,
.flip-clock-wrapper ul {
  display: inline-block;
  float: none;
}
.flip-clock-wrapper ul {
  width: 55px;
}
.flip-clock-label {
  display: none;
}

// about us
.about-us {
  padding: 30px 0;
  background: $purple;
  text-align: center;
  color: #fff;
  p {
    &:last-child {
      margin: 0;
    }
  }
}

.how-to-help {
  padding: 20px 0;
  text-align: center;
  .link-list {
    margin: 20px 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
  .btn {
    display: block;
    text-align: center;
    margin: 15px 0;
    padding: 15px;
    background: $purple;
    border-radius: 4px;
    color: #fff;
    width: 100%;
  }

}

.family-spacer {
  position: relative;
  font-size: 12px;
  text-align: center;
  background-color: rgba(155, 89, 182, 0.5);
  p {
    position: absolute;
    padding: 10px 4%;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    color: #fff;
    background: rgba(0,0,0,1);
  }
  div {
    display: block;
    max-width: 1100px;
    margin: 0 auto;
  }
}

.newsletter-signup {
  padding: 20px 0 30px 0;
  text-align: center;
  background: #eee;
  form {
    label {
      display: block;
      text-align: left;
      font-size: 14px;
      margin: 0;
      font-weight: 300;
    }
    input {
      display: block;
      margin: 0 0 10px;
      width: 100%;
      font-size: 16px;
      padding: 15px;
      box-shadow: none;
      outline: none;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    button {
      -webkit-appearance: none;
      box-shadow: none;
      outline: none;
      border: none;
      display: block;
      text-align: center;
      margin: 15px 0;
      padding: 15px;
      width: 100%;
      background: $purple;
      border-radius: 4px;
      color: #fff;
    }
  }
}

.main-footer {
  padding: 15px 4%;
  background: #444;
  text-align: center;
  color: #fff;
  font-size: 14px;
  p {
    margin: 0;
  }
  a {
    color: #fff;
    text-decoration: underline;
  }
}
