// vars
$purple : #9B59B6;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #555;
  font-weight: 300;
}
h1, h2, h3, h4 {
  font-weight: 400;
}

h1 {
  font-size: 24px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $purple;
}

.container {
  max-width: 600px;
  width: 92%;
}

.underline {
  text-decoration: underline;
}


//header
.main-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255,255,255,.45);
  padding: 10px 0;
  z-index: 100;
  .main-logo {
    display: block;
    max-height: 65px;
    margin: 0 auto;
  }
}

// masthead
.masthead {
  padding: 185px 0 125px;
  text-align: center;
  background: url(../img/woman1.jpg) no-repeat top center;
  background-size: cover;
  .clock-list {
    padding: 0;
    margin: 20px 0 50px;
    li {
      list-style: none;
    }
  }
  .ghost-btn {
    padding: 10px 20px;
    display: inline-block;
    margin: 0 auto;
    color: $purple;
    border: 1px solid $purple;
    border-radius: 4px;
    font-weight: 300;
    i {
      margin-left: 10px;
    }
  }
}

//flipper
.flip-clock-wrapper {
  margin: 20px 0;
}
.flip-clock-divider,
.flip-clock-wrapper ul {
  display: inline-block;
  float: none;
}
.flip-clock-label {
  display: none;
}

// fixed easy-nav
#menu-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: rgb(61, 61, 61);
  height: 60px;
  width: 60px;
  font-size: 35px;
  text-align: center;
  padding-top: 6px;
  border-radius: 30px;
  color: white;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

// fixed easy-nav open
#fixed-menu {
  display: none;
  position: fixed;
  bottom: 71px;
  right: 15px;
  text-align: right;

  li {
    list-style: none;
    font-size: 20px;
    background-color: rgb(61, 61, 61);
    color: white;
    padding: 2px 9px;
    margin-top: 5px;
    border-radius: 5px;
  }
}

// about us
.about-us {
  padding: 50px 0;
  background: $purple;
  text-align: center;
  color: #fff;
  p {
    &:last-child {
      margin: 0;
    }
  }
}

.how-to-help {
  padding: 50px 0;
  text-align: center;
  .link-list {
    margin: 20px 0;
    padding: 0;
    li {
      list-style: none;
    }
  }
  .btn {
    display: block;
    text-align: center;
    margin: 15px 0;
    padding: 15px;
    background: $purple;
    border-radius: 4px;
    color: #fff;
  }

}

.newsletter-signup {
  padding: 50px 0;
  text-align: center;
  background: #eee;
  form {
    label {
      display: block;
      text-align: left;
      font-size: 14px;
      margin: 0;
      font-weight: 300;
    }
    input {
      display: block;
      margin: 0 0 10px;
      width: 100%;
      font-size: 16px;
      padding: 15px;
      box-shadow: none;
      outline: none;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    button {
      -webkit-appearance: none;
      box-shadow: none;
      outline: none;
      border: none;
      display: block;
      text-align: center;
      margin: 15px 0;
      padding: 15px;
      width: 100%;
      background: $purple;
      border-radius: 4px;
      color: #fff;
    }
  }
}

.main-footer {
  padding: 15px 4%;
  background: #444;
  text-align: center;
  color: #fff;
  font-size: 14px;
  p {
    margin: 0;
  }
  a {
    color: #fff;
    text-decoration: underline;
  }
}